<%- include ('../partials/header.ejs');  -%>
<div class="rotten_container">
	<div class="section_title1"><h1 id="imdb_title">Best of Metacritic</h1></div>
	<table class="metacritic_table">
		<thead  class="table_header">
			<tr class="imdb_row">
				<th class="imdb_header">Rank</th>
				<th class="imdb_header"></th>
				<th class="imdb_header">Name</th>
				<th class="imdb_header">Date</th>
				<th class="imdb_header">Metascore</th>
				<th class="imdb_header">Userscore</th>
			</tr>
		</thead>
		<tbody id="rotten_tbody" class="table_body">
			<%for (var i=0;i<metaData.length;i++){%>
			<tr>
				<td class="metacritic_cell"><%=i+1%></td>
				<td class="metacritic_cell">
					<a href="<%=metaData[i].url%>" target="_blank" class="rotten_link"><img src="<%=metaData[i].img%>" style="height:70px"></a>
				</td>
				<td class="metacritic_cell"><a href="<%=metaData[i].url%>" target="_blank" class="rotten_link"><%=metaData[i].name%></a></td>
				<td class="metacritic_cell"><%=metaData[i].date%></td>
				<td class="metacritic_cell"><%=metaData[i].metascore%></td>
				<td class="metacritic_cell"><%=metaData[i].userscore%></td>

			</tr>
			<%}%>
		</tbody>
	</table>
</div>



<%- include ('../partials/footer.ejs');  -%>