<%- include ('../partials/header.ejs');  -%>



<div class="detail_wrapper">
	<div class="latest_section--left">

		<div class="latest_wrapper">
			<h1 class="info_titel info_txt">Currently Airing TV Shows</h1>
			<div class="form-group">
				<label for="mySelect">Number of results per page</label>
					<select class="form-control" id="mySelect" onchange="myFunction()">
					    <option value = "<%=ontheairtvData.length%>" selected='selected'>All</option>
					    <% for(var i=4; i < 11;i+=2){ %>
						<option value = <%=i%> > <%=i%> </option>
						<%}%>  
					</select>
			</div>
		</div>

		<div class="latest1">

		<% for(var i=0; i<ontheairtvData.length; i++) {%>
		<a href="/tv/<%=ontheairtvData[i].id%>" class="movie_card">
			<div class="latest_card paginate">
				<div class="latest_card_wrapper">
						<% if( ontheairtvData[i]. poster_path == null ){ %>
							<img src="https://dummyimage.com/185x278/ffffff/000000" alt="placeholder">
						<% } else{ %>
							<img src="https://image.tmdb.org/t/p/w500/<%=ontheairtvData[i]. poster_path%>" alt="placeholder">
						<% } %>
					<div class="latest_info">
						<h2 class="latest_card_titel"><%=ontheairtvData[i].name%></h2>
						<p class="latest_card_overview"><%=ontheairtvData[i].overview%></p>						
					</div>
				</div>
			</div>
		</a>
		<% } %>	
		</div>
		
		<div id="page-nav_wrapper">
			<div id="page-nav"></div>
		</div>

	</div>

</div>
















<%- include ('../partials/footerpag.ejs');  -%>